@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.container {
  max-width: 1298px;
}

.sideCart {
  max-width: 80vw;
  /* Adjust the value as needed */
}

@media (max-width: 768px) {
  .sideCart {
    position: fixed;
    /* or another positioning that works for small screens */
  }
}

.sideCart {
  overflow: hidden;
}

.cookie-regular {
  font-family: "Cookie", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .about-wave {
    background-size: 50% 50%;
  }
}

.clip-wave {
  /* down(Left-right), top-bottom, up(Left-right),  */
  clip-path: polygon(33% 100%, 70% 0, 100% 0, 100% 100%);
  opacity: 0.3;
}

@media (max-width: 767px) {
  .clip-wave {
    /* down(Left-right), top-bottom, up(Left-right),  */
    clip-path: polygon(33% 64%, 70% 0, 100% 0, 100% 65%);
    opacity: 0.3;
  }
}